@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');

* {
    box-sizing: border-box;
    font-family: 'Montserrat';
    margin: 0;
}

body{
    display:flex;
    flex-direction: column;
    max-width: 1240px;
    height:100vh;
    margin:auto;
}


.main-header{
    color: white;
}

h1, h2, h3{
    font-family: 'Roboto Slab';

}

h2{
    padding-top: 50px;
    border-bottom: solid 1px;
    border-color: rgba(146,146,146,90%);
}

h1{
    padding-top: 7%;
    text-align: center;
    background: linear-gradient(to bottom, #F7C4AB 0% , #E05C2B 80%, #D94618 80%, #E16133 100%);
    padding-bottom: 2%;
}

main{
    display: flex;
    align-items: flex-start;
}

section{
    padding: 0 2% 0 2%;
}

aside{
    display: block;
    margin: 2%;
    width: 60%;
    box-shadow: 0 0 2em grey;
}

aside h3{
    background-color: #E36634;
    color: white;
    padding: 2% 2% 2% 5%;
    margin: 0;
}

aside p{
   text-align: left;
}

aside ul{
    list-style-type: none;
    padding: 0 2% 12% 7%;
}

aside li{
   padding-top: 3%;
}

nav ul{
    display: flex;
    background-color: #454545;
    width: 100%;
    height: 2.4em;
    font-weight: bold;
}

ul{
    list-style-type: none;
    padding-left: 2%;
}

li a{
    color: white;
    height: 100%;
    display: block;
    padding: 10px;
}

.active{
    background-color: white;
}

.active a{
    color: orangered;
}

a{
    color: orangered;
    text-decoration: none;
}

a:hover{
    color: orangered;
    background-color: white;
}

p{
    padding: 1%;
}

.author{
    text-align: end;
    font-style: italic;
    color: #6e6e6e;
}

footer{
    background-color: #454545;
    margin-top: auto;
}

footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

.hamburger{
    display: none;
}

.maquetteImg{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 15px;
    max-width: 100%;
    max-height: 75vh;
}
.missionImg{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.missionImg img{
    margin-left: auto;
    margin-right: auto;
    max-height: 55vh ;
}

table {
    width:100%;
    border-width: 2px;
    border-color: #E36634;
    border-collapse: collapse;
    border-style: solid;
}
table th {
    color:white;
    background-color: #E36634;
    border-width: 1px;
    padding: 8px;
    text-align:left;
    border-color: #E36634;
    border-style: solid;
}
table td {
    padding: 8px;
    border-width: 1px;
    border-color: #E36634;
    border-style: solid;
}
table tr:hover {
    background-color:#F7C4AB;
}

table tr a:hover  {
    background-color:#F7C4AB;
}

#mockup img {
    height: 60vh;
    display: block;
    margin: 20px auto;
}





