*{
    font-family: 'Helvetica', 'Arial';
}

.home-page {
    background-image: url("../images/fdv_background.jpg");
    background-color: black;
    margin-top: 5%;
}

.main{
    position: center;
    width: 80%;
    max-width: 1000px;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 10px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main h1{
    font-size: 3em;
}

.form tr td{
    text-align: left;
}

.form{
    border: none;
}

.form td{
    border: none;
}

.form label{
    font-size: 1.5em;
}
.form input{
    height: 2em;
    max-width: 200px;
    width: 100%;
}

.form tr{
    text-align: left;
}

.buttons{
    margin-top: 50px;
}

.buttons button{

    width: 200px;
    height: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

.saisie form{
    display: flex;
}
.saisie label{
    display: block;
    margin-right: 10px;
}

button{
    font-size: 1.5em;
}

.jouer:hover{
    background-color: limegreen;
}

.regles:hover{
    background-color: deepskyblue;
}

.quitter:hover{
    background-color: orangered;
}


table, th, td{
    padding: 9px;
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.2em;
}

table{
    margin-top: 40px;
    border: 2px black solid;
}


th{
    height: 12px;
}

.pseudoRow{
    width: 160px;
}
.timerRow{
    width: 75px;
}
.jourRow{
    width: 95px;
}

button{
    margin-top: 30px;
    padding: 5px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 6px;
}
header {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 720px;
    margin-bottom: 10px;

}
.caption{
    font-weight: bold;
}
#mission{
    width: 40%;
    border: 2px solid black;
    padding: 5px;
}

#state > p{
    margin: 5px;
}

#mission > h2{
    text-align: center;
    margin: 0;
}

#state{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.conversation{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    margin: 5px 5px 0 0;
    padding: 5px;
    align-items: center;
}

.conversation > p{
    flex: 1;
    margin: 0;

}

#state p,#state input{
    width: 45%;
}

#state div{
    width: 100%;
}
.gameBody{
    align-items: center;
    display: flex;
    flex-direction: column
}

#videoLunabus{
    visibility: hidden;
}
#hat img{
    width: 50px;
    height: 50px;
}