*{
    font-family: 'Helvetica', 'Arial';
}


.home-page {
    background-image: url("../images/fdv_background.jpg");
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
}

.saisie{
    align-self: center;
    height: 500px;
    background-color: aliceblue;
    width: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.saisie h1{
    font-size: 3em;
    font-family: "Harlow Solid Italic";
    color: black;

}

.formulaire{
    align-self: center;
}

.formulaire label{
    font-size: 1.5em;
}
.formulaire input{
    height: 2em;
}

.buttons button{
    width: 200px;
    height: 50px;
}

.saisie form{
    display: flex;
}
.saisie label{
    display: block;
    margin-right: 10px;
}


button:hover{
    background-color: limegreen;
}

button{
    font-size: 1.5em;
}

table, th, td{
    padding: 9px;
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

table{
    margin-top: 40px;
    border: 2px black solid;
}

h1{
    text-align: center;
    margin-top: 60px;
}

th{
    height: 12px;
}

.PseudoRow{
    width: 160px;
}
.TimerRow{
    width: 75px;
}
.JourRow{
    width: 95px;
}

button{
    margin-top: 30px;
    padding: 5px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 6px;
}

.Buttons{
    margin: auto;
    text-align: center;
}